/* Definir variáveis de cores no root */
:root {
    --primary-color: #3498db;
    /* Cor primária */
    --primary-color-hover: #2980b9;
    /* Cor primária ao passar o mouse */
    --secondary-color: #e74c3c;
    /* Cor secundária */
    --secondary-color-hover: #c0392b;
    /* Cor secundária ao passar o mouse */
    --background-light: #ecf0f1;
    /* Cor de fundo clara */
    --background-dark: #2c3e50;
    /* Cor de fundo escura */
    --text-color-light: #f5f5f5;
    /* Cor de texto claro */
    --text-color-dark: #333;
    /* Cor de texto escuro */
    --gray-light: #bdc3c7;
    /* Cinza claro */
    --gray-dark: #444;
    /* Cinza escuro */
    --gray-80: rgba(51, 51, 51, 0.8);
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color-dark);
    background-color: var(--background-light);
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header */
header {
    position: relative;
    /* Cabeçalho não fixo */
    width: 100%;
    background-color: var(--background-dark);
    /* Fundo escuro */
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    /* Alinha logo à esquerda e menu à direita */
    align-items: center;
    padding-left: 30px;
    /* Espaçamento da logo */
    padding-right: 30px;
    /* Espaçamento do menu */

    & .logo-nome {
        display: flex;
        align-items: center;

        & .logo {
            border-radius: 5px;
            height: 50px;
            /* ajuste a altura da logo conforme necessário */
            margin-right: 15px;
        }

        & .nome {
            font-weight: bold;
            padding: 10px 15px;
            color: var(--text-color-light);
        }
    }

    & .nav {
        display: flex;
        gap: 20px;
        /* Espaçamento entre links */

        & a {
            color: var(--text-color-light);
            /* Cor do texto */
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px 15px;
            /* Estilo de botão */
            border-radius: 5px;
            /* Borda arredondada */
            transition: background-color 0.3s, color 0.3s;
            /* Transição suave */

            &:hover {
                background-color: var(--primary-color);
                /* Cor de fundo ao passar o mouse */
                color: var(--text-color-dark);
                /* Cor do texto ao passar o mouse */
            }
        }
    }
}

/* Estilo para as sections */
section {
    position: relative;
    padding: 60px 20px;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--gray-dark);
    }
}

/* Section 1 - Home */
#home {
    height: 100vh;
    background: url('/img/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .logo {
            width: 150px;
            margin-bottom: 20px;
        }

        & h1 {
            font-size: 3rem;
            color: var(--text-color-light);
            margin-bottom: 10px;
        }

        & h2 {
            font-size: 1.5rem;
            color: var(--gray-light);
            margin-bottom: 30px;
        }

        & .bounce {
            display: flex;
            justify-content: center;

            & .scroll-down {
                list-style: none;
                color: var(--text-color-light);
                font-size: 2rem;
                display: inline-block;
                margin-top: 20px;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--primary-color);
                }

                i {
                    font-size: 2rem;
                }
            }
        }
    }
}

/* Keyframes for scroll down animation */
@keyframes bounce-1 {
    50% {
        transform: translateY(-18px);
    }
}

/* Loader animations */
.scroll-down:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
}

/* Section 2 - Áreas de Atuação */
#areas {
    padding: 80px 20px;
    background-color: var(--background-dark);

    & h1 {
        font-size: 2.5rem;
        margin-bottom: 50px;
        color: var(--text-color-light);
    }

    & .areas-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 40px;

        & .area-item {
            background-color: var(--text-color-light);
            border: 1px solid var(--gray-light);
            padding: 20px;
            text-align: center;
            transition: transform 0.3s;
            max-width: 100%;

            &:hover {
                transform: scale(1.05);
            }

            & img {
                max-width: 20%;
                height: auto;
                margin-bottom: 20px;
            }
        }
    }

    & .contact-btn {
        display: block;
        /* Garante que o botão seja um bloco */
        margin: 0 auto;
        /* Centraliza horizontalmente */
        padding: 10px 20px;
        background-color: var(--primary-color);
        color: var(--text-color-light);
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 5px;

        &:hover {
            background-color: var(--primary-color-hover);
        }
    }

}

/* Section 3 - Sobre Nós */
#sobre-nos {
    display: flex;
    padding: 80px 20px;
    background: url('/img/background2.jpg') no-repeat center center/cover;
    color: var(--text-color-light);

    & .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        & .advogado-foto {
            height: auto;
            /* Mantém a proporção da imagem */
        }

        & .sobre-texto {
            max-width: 600px;
            background: var(--gray-80);
            /* Fundo com 80% de opacidade */
            padding: 20px;
            /* Espaçamento interno para o texto */
            border-radius: 10px;
            /* Adiciona bordas arredondadas ao fundo */

            & h1 {
                font-size: 2.5rem;
                margin-bottom: 20px;
            }

            & ul {
                list-style: none;
                padding-left: 0;

                & li {
                    font-size: 1.5rem;
                    margin-bottom: 10px;

                    & i {
                        color: var(--primary-color);
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


/* Section 4 - Como Podemos te Ajudar */
#ajuda {
    padding: 80px 20px;
    background: url('/img/background3.jpg') no-repeat center center/cover;
    text-align: center;
    display: flex;
    /* Usando Flexbox */
    flex-direction: column;
    /* Coloca os filhos em coluna */
    align-items: center;
    /* Centraliza os itens */

    & h1 {
        font-size: 2.5rem;
        color: var(--text-color-light);
        margin-bottom: 40px;
        background: var(--gray-80);
        /* Fundo com 80% de opacidade */
        padding: 10px;
        /* Adiciona espaçamento interno */
        border-radius: 10px;
        /* Opcional: arredonda os cantos */
        display: block;
        /* Mantém o h1 como um bloco */
    }

    & h2 {
        font-size: 1.5rem;
        color: var(--gray-light);
        margin-bottom: 30px;
        background: var(--gray-80);
        /* Fundo com 80% de opacidade */
        padding: 10px;
        /* Adiciona espaçamento interno */
        border-radius: 10px;
        /* Opcional: arredonda os cantos */
        display: block;
        /* Mantém o h1 como um bloco */
    }

    & .fale-conosco-btn {
        padding: 10px 20px;
        background-color: var(--secondary-color);
        color: var(--text-color-light);
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        /* Suaviza a transição de cor no hover */
        display: inline-block;
        /* Mantenha o botão inline-block */
        margin-top: 20px;
        /* Espaçamento acima do botão */

        &:hover {
            background-color: var(--secondary-color-hover);
        }
    }

}

/* Footer */
footer {
    background-color: var(--background-dark);
    padding: 40px 20px;
    color: var(--text-color-light);

    & .footer-content {
        display: flex;
        justify-content: space-between;
        /* Alinha as informações de contato à esquerda e os links à direita */
        align-items: center;
        max-width: 1200px;
        /* Limite de largura do footer */
        margin: 0 auto;
        /* Centraliza o footer na tela */
    }

    & .logo-nome {
        display: flex;
        align-items: center;

        & .logo {
            max-width: 50px;
            margin-bottom: 20px;
        }

        & .nome {
            padding: 10px 15px;
            color: var(--text-color-light);
        }
    }

    & .contact-info {
        text-align: left;
    }

    & .nav-links {
        text-align: right;

        & a {
            color: var(--text-color-light);
            display: block;
            margin-bottom: 10px;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    & .copyright {
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid var(--gray-dark);
        color: var(--gray-light);
        margin-top: 20px;
        /* Espaçamento acima do copyright */
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-hover);
}